* {
    margin: 0;
    padding: 0;
    margin-left: 1%;
    margin-right: 1%;
    background-color: #ffffff;
    text-decoration: none;
    border: none;
}

.navbar {
    background-color: white;
    margin-top: 1vh;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    height: 9vh;
    padding-top: 1%;
    font-size: 17px;
    font-weight: 400;
    display: flex;
    justify-content: space-evenly;
}

.search-bar {
    width: 40%;
    height: 7vh;
}

#navbar-icons {
    margin-top: 7px;
}

.collections {
    margin-top: 4vh;
    background-color: white;
    height: 10vh;
    width: 98%;
    display: flex;
    justify-content: space-evenly;
    font-size: 15px;
    font-weight: 600;
}

#carouselExampleAutoplaying {
    margin-top: 50px;
    width: 100%;
    margin-left: 0;
}

#deals {
    margin-top: 5vh;
}

#smartphones {
    display: flex;
    margin-top: 5vh;
}

.phone {
    background-color: white;
    border: 1px solid rgb(201, 199, 199);
    height: 39vh;
    width: 30vw;
    border-radius: 2%;
    align-items: center;
}

.name {
    margin-top: 5px;
    align-self: center;
}

.ads-container {
    display: flex;
    margin-left: 0;
    padding: 0;
    margin: 0;
}

.ads {
    margin: 0;
}

footer {
    margin-top: 1%;
    margin-left: 0;
    margin-right: 0;
    background-color: rgb(36, 35, 35);
    height: 350px;
}